<header>
  <img src="logo.jpg" alt="A form and a pencil" />
  <h1>Angular Forms</h1>
</header>
<form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" ngModel />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" ngModel />
    </div>

    <button class="button">Login</button>
  </div>
</form>
